body{
  margin:0px;
  padding:0px;
  
}
.footerDiv {
  background-color: #333; 
  color: #fff; 
  
  padding: 20px; 
  text-align: center; 
}

.streamingEco h3 {
  margin: 0; 
}

.footerDiv p {
  margin: 5px 0; 
}


.footerDiv a {
  color: #fff;
  text-decoration: none; 
  margin-top: 10px; 
  display: inline-block; 
  border-bottom: 1px solid #fff;
  padding-bottom: 2px; 
}

.footerDiv a:hover {
  border-bottom: 2px solid #fff; 
}